# ME package
public net.minecraft.world.item.context.UseOnContext hitResult

# loacte slot
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen getHoveredSlot(DD)Lnet/minecraft/world/inventory/Slot;
protected-f net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageWidth
protected-f net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageHeight

public-f net.minecraft.world.inventory.Slot x
public-f net.minecraft.world.inventory.Slot y

